.DS_Store
.php_cs.cache
/.idea
/vendor
/logs
/tmp
/build
/dist
/tests/build
/tests/_reports
/dist-current
/dist-old
/transfer/vendor
/transfer/tmp/
node_modules
*.env
.phpunit.result.cache
disable-xdebug.ini
site_location.log
!docker.env
